<div class="container">
    @if(isOrderDeleted){
      <app-alert>{{operationMessage}}</app-alert>
    }
    <a class="btn btn-success float-end me-5" routerLink="/create-order">Create order</a>
    @if(ordersList.length > 0){
      <table class="table">
        <thead>
          <tr>
            <th>Order date</th>
            <th>Order id</th>
            <th>Order amount</th>
            <th>Delete order</th>
          </tr>
        </thead>
        <tbody>
          @for (item of ordersList; track item.order_id) {
              <tr [class.table-active]="lastCreatedOrderId === item.order_id">
              <td>{{item.order_date | date : "dd-MMM-yyyy hh:mm a" }}</td>
              <td>{{item.order_id}}</td>
              <td>{{item.total_amount}}</td>
              <td><button class="btn btn-danger" (click)="onDeleteBtnClicked(item.order_id)">Delete</button></td>
              </tr>
          }
        </tbody>
      </table>
    }
    @else{
      <h2>No orders placed</h2>
    }
  </div>