<div class="container p-5">
    <a class="btn btn-success float-end" routerLink="/create-order">Create order</a>
    <table class="table">
      <thead>
        <tr>
          <th>Order date</th>
          <th>Order id</th>
          <th>Order amount</th>
          <th>Delete order</th>
          
        </tr>
      </thead>
      <tbody>
        @for (item of ordersList; track item.order_id) {
            <tr>
            <td>{{item.order_date | date : "dd-MMM-yyyy hh:mm a" }}</td>
            <td>{{item.order_id}}</td>
            <td>{{item.total_amount}}</td>
            <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        }
      </tbody>
    </table>
  </div>